<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Park Explorer</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/park.css">
    <link rel="stylesheet" href="/public/css/review.css">
    <link rel="stylesheet" href="/public/css/user.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
</body>
</html>

