<nav>
    <a href="/">Home</a>
    <a href="/parks">Parks</a>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <a href="/users/userProfile">Profile</a>
    <a href="/users/logout">Logout</a>
</nav>

